canvas {
    border: 1px solid grey;
}

#game {
    background-image : url('../images/hairbaillistics_roomBG.png');
    background-repeat: no-repeat;
}

#header {
    width: 1000px;
    height: 100px;
    text-align: right;
}

#header .logo {
    float: left;
}

#header .player {
    display: block;
}
